.navbar {
    background-color: #1b0075;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 100px;
}

.title-navbar {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.navbar-nav .nav-link {
    color: #faf9f9;
    margin-right: 1rem;
    transition: color 0.3s ease-in-out;
}

.button {
    width: 100px;
    height: 60px;
    cursor: pointer;
    color: #1b0075;
    background-color: #f8f8fd;
    border-radius: 50px;
    border: 6px solid #eacaf1;
    box-shadow: 0px 8px #1b0075;
    margin: 10px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 19px;
  }

  .button:active {
    position: relative;
    top: 8px;
    border: 6px solid #646fff;
    box-shadow: 0px 0px;
  }

  .container1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px auto;
    max-width: 900px;
}

.card1 {
    background-color: #1b0075; /* Cor de fundo do card */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(91, 46, 145, 0.5); /* Sombra suave com roxo profundo */
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card1 .image {
    width: 100%;
    max-width: 260px;
    height: 250px;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 15px;
}

.card1 .card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    background-color: #f0f0f0; /* Cor padrão para a imagem */
}

.content1 {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
    color: white;
}

.content {
    width: 100%;
    text-align: left;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.content .title {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.content .category,
.content .content1 {
    margin-top: 10px;
}

.title1 span {
    font-size: 28px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
    display: block;
}

.category {
    background-color: #e8daef;
    color: #1b0075;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    display: inline-block;
}

span{
    margin: 5px;
}

.heart {
    fill: #e8daef;
    stroke: #1b0075;
    stroke-width: 1px;
    filter: drop-shadow(1px 1px 1px #1b0075);
}

.heart.liked {
    fill: #1b0075;
}

.likebtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
    background-color: #eacaf1;
    position: relative;
  }

  .likebtn:hover > .icon {
    transform: scale(1.2);
    cursor: pointer;
    transition: .2s linear;
  }

  .likebtn:focus > .icon {
    animation: grosseur .2s linear;
    color: #eacaf1;
    border-color: #1b0075;
  }

  @keyframes grosseur {
    0% {
      width: 50px;
      height: 50px;
      fill: #1b0075;
    }

    100% {
      width: 30px;
      height: 30px;
      fill: #1b0075;
    }
  }



