body {
    margin: 0;
  }

.navbar {
    background-color: #1b0075;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 100px;
    width: 100%;
    position: fixed;
  }

.title-navbar {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.navbar-nav .nav-link {
    color: #faf9f9;
    margin-right: 1rem;
    transition: color 0.3s ease-in-out;
}

.button {
    width: 100px;
    height: 60px;
    cursor: pointer;
    color: #1b0075;
    background-color: #f8f8fd;
    border-radius: 50px;
    border: 6px solid #eacaf1;
    box-shadow: 0px 8px #1b0075;
    margin: 10px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 19px;
  }

.button:active {
    position: relative;
    top: 8px;
    border: 6px solid #646fff;
    box-shadow: 0px 0px;
  }

  .card .card-footer {
    background-color: #eacaf1; /* Substitua pela cor desejada */
    padding: 10px;
    text-align: center;
}

.btn1 {
    padding: 5px;
    margin: 5px 5px 5px 5px;
    width: 50px;
    background: #310987;
    border-radius: 10px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    font-style:normal;
    box-shadow: 3px 3px 0px 0px #1b0075;
    color: white;
    text-decoration: none;
  }

.btn1:hover {
    background-color: white;
    color: #1b0075;
    border: #1b0075 1px solid;
  }

.card{
    background-color: #eacaf1;
    border: 2px solid #310987;
    border-radius: 20px;
    box-shadow: 3px 4px 0px 1px #1b0075;
}

.card-body{
    background-color: #eacaf1;
}

.card-body{
    color: white;
}
